<div class="custom-container">
  <h1 class="text-center text-2xl">mayfuruとおしゃべり</h1>

  <div class="w-full max-w-3xl bg-base-100 p-6 mt-4 rounded-lg shadow-md">
    <div id="chat-box" class="h-96 overflow-y-scroll bg-gray-100 p-4 rounded-lg">
      <% @chat_messages.each do |message| %>
        <div class="chat <%= message.sender == 'user' ? 'chat-end' : 'chat-start' %>">
          <div class="chat-bubble <%= message.sender == 'user' ? 'chat-bubble-primary' : 'chat-bubble-secondary' %>">
            <%= message.content %>
            <div class="text-xs text-gray-600 mt-1">
              <%= message.created_at.strftime('%H:%M') %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div class="w-full max-w-xl bg-base-100 p-4 mt-6 rounded-lg shadow-md">
    <%= form_with(model: [@user, @new_message], local: true, class: "w-full") do |form| %>
      <div class="flex items-center space-x-4 w-full">
        <%= form.text_area :content, class: "textarea textarea-bordered w-full h-20 !important", rows: 2, placeholder: "Enter your message..." %>
        <%= form.submit "Send", class: "btn btn-primary w-1/4" %>
      </div>
    <% end %>
  </div>
</div>